<div class="panel-nav">
  {% if page.layout == 'post' %}
<a class="panel-icon" id="panel-back-icon" href="/">
<svg fill="#fff" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .753l-14.44 11.247 13.44 11.263-.678.737-14.322-12 15.335-12 .665.753z"/></svg>
</a>
  {% endif %}
  <a class="panel-icon" id="panel-nav-icon" href="#">
    <svg fill="#fff" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 18v1h-24v-1h24zm0-6v1h-24v-1h24zm0-6v1h-24v-1h24z" fill="#ffffff"/><path d="M24 19h-24v-1h24v1zm0-6h-24v-1h24v1zm0-6h-24v-1h24v1z"/></svg>
  </a>
  <span id="menu">
  {% include nav.html %}
</span>

</div>
