$panel-gradient-firefox: -moz-linear-gradient(-45deg, $magenta 0%, $purple 50%, $teal 100%);
$panel-gradient-chrome: -webkit-linear-gradient(-45deg, $magenta 0%,$purple 50%,$teal 100%);
$panel-gradient: linear-gradient(135deg, $magenta 0%,$purple 50%,$teal 100%);
$panel-gradient-IE: progid:DXImageTransform.Microsoft.gradient( startColorstr='$magenta', endColorstr='$teal',GradientType=1 );

$panel-top-height: 30rem;
$panel-top-width: 45%;
$panel-top-bg-width: 115% - $panel-top-width;
$panel-home-width: 38%;
$panel-left-width: 25%;

.panel {
  z-index: -1;
  display: none;
  background: $magenta; /* Old browsers */
  background: $panel-gradient-firefox;
  background: $panel-gradient-chrome;
  background: $panel-gradient;
  filter: $panel-gradient-IE;

    @include media-query($tablet) {
    .panel-home &, .panel-left &{
      display: block;
      height: 100vh;
      position: fixed;
      top:0;
      bottom:0;
    }

    .panel-home & {
      @include media-query($desktop) {
        max-width: 680px;
      }
      -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
      width: $panel-home-width;
      left:-3rem;
    }

    .panel-left & {
      @include media-query($desktop) {
        max-width:420px;
      }
      -webkit-clip-path: polygon(0 0, 72% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 72% 0%, 100% 100%, 0% 100%);
      width: $panel-left-width;
      left: 0rem;
    }
  }

  .panel-top & {
    display: block;
    position: absolute;
    top:15rem;
    height: $panel-top-height - 5rem;
    // max-height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    @include media-query($tablet) {
      -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
      width: $panel-top-width;
      height: $panel-top-height;
      top: 0;
      left:-3rem;
    }
  }
}

.panel-home {
  @include media-query($desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
  }
  @include media-query($tablet) {
    width:33.3333%;
  }
  width: 100%;
}

.panel-left {
  @include media-query($desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 400px;
  }
  @include media-query($tablet) {
    width:25%;
  }
  width: 100%;
}

.panel-top-bg {
  height: $panel-top-height;
  width: 100%;
  max-height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-size: cover;
  @include media-query($tablet) {
    width: $panel-top-bg-width;
    height: $panel-top-height;
  }
}

.panel-content {
  .panel-home &, .panel-left &{
    //desktop
    @include media-query($tablet) {
      height: 100vh;
      position: fixed;
      top:0;
      bottom:0;
      width: auto;
      background: none;
    }
    //mobile
    width: 100%;
    background: $magenta; /* Old browsers */
    background: $panel-gradient-firefox;
    background: $panel-gradient-chrome;
    background: $panel-gradient;
    filter: $panel-gradient-IE;
  }
  .panel-top &, {
    height: $panel-top-height;
  }

  display: flex;
  flex-direction: column;

}

.panel-nav {
  display: flex;
  flex-wrap: nowrap;
  #panel-nav-icon{
    padding: 2rem;
  }
  #menu {
    display: none;
  }
  .nav {
    // position: fixed;
    display:flex;
    flex-direction: column;
    margin-top: 1.25rem;
    a {
      color: #ffffff;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
}

.panel-text {

            .panel-home & {
              //xl screen
              @include media-query($desktop) {
                max-width: 400px;
              }
              @include media-query($tablet) {
                padding-left: 3rem;
                padding-right: 3rem;
              }
            }

            .panel-left & {
              //xl screen
              @include media-query($desktop) {
                max-width: 380px;
              }
              @include media-query($tablet) {
                padding-left: 2rem;
                padding-right: 2rem;
              }
            }

            .panel-top & {
              width: 100%;
              flex-grow: 1;
              // height: $panel-top-height - 10.5rem;
              // margin-top: 12rem;
              // margin-bottom: 3rem;
              @include media-query($tablet) {
                // margin-top: 0;
                // margin-bottom: 0;
                // padding-bottom: 5.5rem;
                // height: $panel-top-height - 5.5rem;
                width: $panel-top-width - 5%;
              }
            }

            //ajuste para menu
            @include media-query($tablet) {
              margin-bottom: 5.5rem;
            }

            //Propiedades generales
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 2rem;

            // Texto
            color: #FFF;
            text-transform: uppercase;
            line-height: 1.25;

          .text-display-light{
            text-shadow: 2px 2px 0px $magenta-shadow;
          }

          .text-display-bold{
            text-shadow: 3px 3px 0px $magenta-shadow;
          }

        }


@font-face {
    font-family: 'Nexa Bold';
    src: url('../webfonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
         url('../webfonts/Nexa_Free_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Light';
    src: url('../webfonts/Nexa_Free_Light-webfont.woff2') format('woff2'),
         url('../webfonts/Nexa_Free_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$text-display-bold: "Nexa Bold";
$text-display-light: "Nexa Light";

.text-display-bold {
  font-family: $text-display-bold;
}
.text-display-light {
  font-family: $text-display-light;
}

.text-6xl{
  font-size: 4rem;
}

.magenta {
  color: $magenta;
}

.button {
  color:$magenta;
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  font-weight: 700;
  border-width: 2px;
  border-radius: 0.25rem;
  border-color: $magenta;
  white-space: nowrap;
}

.button:hover {
    color:$magenta-light;
    border-color: $magenta-light;
  }

.thumbnail{
  min-height: 300px;
  background-size: cover;
  background-position: center;
  // margin: 0.5rem;
}

.thumbnail-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $grey-color-light;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;


  .thumbnail {
    min-height: 300px;
      width:95%;
      padding-top: 1080px / 1440px * 95%;
      @include media-query($tablet) {
        width: 48%;
        padding-top: 1080px / 1440px * 48%;
        min-height: 500px;
      }
      margin-top:1rem;
      margin-bottom:1rem;
      border-radius: 5px;
  }

  .main-thumbnail{
    min-height: 300px;
    width:95%;
    @include media-query($tablet) {
      width: 66%;
      min-height: 500px;
    }
    margin-top:1rem;
    margin-bottom:1rem;
    border-radius: 5px;
    img {
      width: 100%;
    }
  }

}

.lightbox-opened {
  background-color: #333;
  background-color: rgba(#333, 0.9);
  cursor: pointer;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding: 24px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;

  &:before {
    background-color: #333;
    background-color: rgba(#333, 0.9);
    color: #eee;
    content: "x";
    font-family: sans-serif;
    padding: 6px 12px;
    position: fixed;
    text-transform: uppercase;
  }

  img {
    box-shadow: 0 0 6px 3px #333;
    background-color: #fff;
  }
}

// No Background Scroll

.no-scroll {
  overflow: hidden;
}

.shadow-block {
    box-shadow: 4px 4px 0px fade-out($magenta-shadow, 0.25);
  }

/**
nav
**/
.nav {
  // position: absolute;
  // top: 0;
  // display: flex;
  // justify-content: flex-start;
  //
  // & .panel-left{
  //   width: $panel-left-width;
  // }
  //
  // a {
  //   color: white;
  //   margin: 1rem;
  //   &:hover{
  //     // color:$magenta-light;
  //   }
  // }
}


/**
Contenido
**/
.content {
  @include media-query($tablet) {
    // Propiedades desktop
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
  }
}
.post-content {
  p, h1, h2, h3, ul {
    max-width: 840px;
  }
}
.content, .post-content {
  h2 {
      font-size: 32px;
      margin-bottom: 1.5rem;
      color: $magenta;
      font-family: $text-display-bold;
      text-transform: uppercase;
      @include media-query($tablet) {
          font-size: 28px;
      }
  }

  h3 {
      font-size: 26px;
      margin-bottom: 1.5rem;
      font-family: $text-display-light;
      text-transform: uppercase;
      @include media-query($tablet) {
          font-size: 22px;
      }
  }

  h4 {
      font-size: 20px;
      margin-bottom: 1.5rem;
      font-family: $text-display-light;
      text-transform: uppercase;
      @include media-query($tablet) {
          font-size: 18px;
      }
  }

  margin-bottom: $spacing-unit;

  p, h1, h2, h3, ul {
    margin-right: auto;
    margin-left: auto;
    line-height: 2;
    &.text-loose {
      line-height: 2.25;
    }
  }

  p, ul, li {
    text-align: justify;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  li {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-left:1rem;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  @include media-query($desktop) {
      margin-left: -1rem;
      margin-right: -1rem;
  }
  .gallery-card {
    @include media-query($tablet) {
        width:48%;
    }
    @include media-query($desktop) {
        max-width:390px;
    }
    width:100%;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    background-color: white;
    .thumbnail {
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }
    h3 {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      margin-right: 1rem;
      margin-left: 1rem;
    }
    .text-sm {
      font-size: 14px;
      margin-right: 1rem;
      margin-left: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.profile-img{
  margin-right: -3rem;
  background-position: top center;
  min-height: 500px;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
