$panel-top-height: 30rem;
$panel-top-width: 40%;
$panel-top-bg-width: 115% - $panel-top-width;
$panel-home-width: 40%;
$panel-left-width: 25%;

.panel {
  z-index: -1;
  display: none;
  background: $magenta; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $magenta 0%, $purple 50%, $teal 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $magenta 0%,$purple 50%,$teal 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $magenta 0%,$purple 50%,$teal 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$magenta', endColorstr='$teal',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    @media (min-width: 768px) {
    .panel-home &, .panel-left &{
      display: block;
      height: 100vh;
      position: fixed;
      top:0;
      bottom:0;
    }

    .panel-home & {
      -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
      width: $panel-home-width;
      left:-3rem;
    }

    .panel-left & {
      -webkit-clip-path: polygon(0 0, 72% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 72% 0%, 100% 100%, 0% 100%);
      width: $panel-left-width;
      left: 0rem;
    }
  }

  .panel-top & {
    -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    width: $panel-top-width;
    left:-3rem;
    display: block;
    position: absolute;
    top:0;
    // -webkit-clip-path: polygon(0 0, 100% 0%, 100% 72%, 0% 100%);
    // clip-path: polygon(0 0, 100% 0%, 100% 72%, 0% 100%);
    // width: 100%;
    height: $panel-top-height;
    max-height: 100vh;
  }
}

.panel-home {
  width: 100%;

}

.panel-top-bg {
  height: $panel-top-height;
  width: $panel-top-bg-width;
  max-height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-size: cover;
}

.panel-text {
          @media (min-width: 768px) {
            // Propiedades desktop
            .panel-home &, .panel-left &{
              height: 100vh;
              position: fixed;
              top:0;
              bottom:0;
              width: auto;
              background-image: none;
            }

            .panel-home & {
              width: $panel-home-width;
              padding-left: 3rem;
              padding-right: 3rem;
            }

            .panel-left & {
              width: $panel-left-width;
              padding-left: 2rem;
              padding-right: 2rem;
            }
            .panel-top & {
              height: $panel-top-height;
              width: $panel-top-width;
            }
          }

          // Propiedades mobile
          width: 100%;

          //Propiedades generales
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 2rem;

          // Texto
          color: #FFF;
          text-transform: uppercase;
          line-height: 1.25;

          .text-display-light{
            text-shadow: 2px 2px 0px $magenta-dark;
          }

          .text-display-bold{
            text-shadow: 3px 3px 0px $magenta-dark;
          }

        }


@font-face {
    font-family: 'Nexa Bold';
    src: url('../webfonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
         url('../webfonts/Nexa_Free_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Light';
    src: url('../webfonts/Nexa_Free_Light-webfont.woff2') format('woff2'),
         url('../webfonts/Nexa_Free_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$text-display-bold: "Nexa Bold";
$text-display-light: "Nexa Light";

.text-display-bold {
  font-family: $text-display-bold;
}
.text-display-light {
  font-family: $text-display-light;
}

.text-6xl{
  font-size: 4rem;
}

.magenta {
  color: $magenta;
}

.button {
  color:$magenta;
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  font-weight: 700;
  border-width: 2px;
  border-radius: 0.25rem;
  border-color: $magenta;
}

.button:hover {
    color:$magenta-light;
    border-color: $magenta-light;
  }

.thumbnail {
  height: 300px;
  background-size: cover;
  margin: 0.5rem;
  .thumbnail-row & {
    width: 45%;
  }
}

.thumbnail-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $grey-color-light;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/**
nav
**/
.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  a {
    color: $magenta;
    &:hover{
      color:$magenta-light;
    }
  }
}


/**
Contenido
**/
.content {
  @media (min-width: 768px) {
    // Propiedades desktop
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
  }
}

.content, .post-content {
  h2 {
      font-size: 32px;
      margin-bottom: 1.5rem;
      color: $magenta;
      font-family: $text-display-bold;
      text-transform: uppercase;
      @include media-query($on-laptop) {
          font-size: 28px;
      }
  }

  h3 {
      font-size: 26px;
      margin-bottom: 1.5rem;
      font-family: $text-display-light;
      text-transform: uppercase;
      @include media-query($on-laptop) {
          font-size: 22px;
      }
  }

  h4 {
      font-size: 20px;
      margin-bottom: 1.5rem;
      font-family: $text-display-light;
      text-transform: uppercase;
      @include media-query($on-laptop) {
          font-size: 18px;
      }
  }
  margin-bottom: $spacing-unit;

  p, h1, h2, h3, ul {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }

  p, ul, li {
    text-align: justify;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
}

.profile-img{
  margin-right: -3rem;
  background-position: top center;
  min-height: 500px;
  margin-left: 2rem;
  margin-bottom: 2rem;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
