<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container flex flex-wrap md:flex-no-wrap md:mx-auto">
      <div class="w-full md:w-1/2 md:px-8">
        <div class="bg-blue panel"></div>
        <h1 class="bg-blue md:bg-transparent panel-text">
          <span class="text-display-light text-4xl md:w-2/3 pr-8">Ana Paula Tello</span>
          <span class="leading-none text-display-bold text-6xl px-8 pt-2 border-2 rounded border-white mt-6">UI</span>
          <span class="text-display-light text-6xl md:w-5/6 pr-8">+</span>
          {% if page.lang == 'en' %}
          <span class="text-display-bold text-6xl md:w-5/6 pr-8">Visual Design</span>
          {% elsif page.lang == 'es' %}
          <span class="text-display-bold text-6xl md:w-5/6 pr-8">Diseño visual</span>
          {% endif %}
        </h1>
      </div>
      <div class="w-full md:w-1/2 mx-8">
        <div class="absolute pin-t pin-r text-white md:text-blue md:relative text-right py-8 mr-8">
          {% include lang.html %}
        </div>
          <div class="flex flex-col text-2xl text-blue py-8">
        {{ content }}
        </div>
      </div>
    </div>
    <!-- {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %} -->

  </body>

</html>
