<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container flex no-wrap mx-auto">
      <div class="w-1/2 px-8">
        <div class="bg-blue panel w-1/2"></div>
        <h1 class="panel-text uppercase leading-tight items-start">
          <span class="text-display-light text-4xl w-2/3 pr-8">Ana Paula Tello</span>
          <span class="leading-none text-display-bold text-6xl px-8 pt-2 border-2 rounded border-white mt-6">UI</span>
          <span class="text-display-light text-6xl w-5/6 pr-8">+</span>
          {% if page.lang == 'en' %}
          <span class="text-display-bold text-6xl w-5/6 pr-8">Visual Design</span>
          {% elsif page.lang == 'es' %}
          <span class="text-display-bold text-6xl w-5/6 pr-8">Diseño visual</span>
          {% endif %}
        </h1>
      </div>
      <div class="w-1/2 mx-8">
        <div class="text-right py-8 mr-8">
          {% include lang.html %}
        </div>
          <div class="flex flex-col text-2xl text-blue py-8">
        {{ content }}
        </div>
      </div>
    </div>
    <!-- {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %} -->

  </body>

</html>
