---
layout: default
---
<div class="flex flex-wrap md:flex-no-wrap">
  <div class="panel-left">
    <div class="panel">
    </div>
    <div class="panel-content">
      {% include panel-nav.html %}
      <a href="
      {% if page.lang == 'es' %}
      /
      {% elsif page.lang == 'en' %}
      /en/
      {% endif %}
      " class="panel-text">
        <span id="name">Ana Paula Tello</span>
        <span id="ui">UI</span>
        <span id="plus">+</span>
        {% if page.lang == 'en' %}
        <span id="visual-design">Visual design</span>
        {% elsif page.lang == 'es' %}
        <span id="visual-design">Diseño visual</span>
        {% endif %}
      </a>
    </div>
  </div>
  <div class="w-full md:w-3/4 content">
    {{ content }}
  </div>
</div>
