---
layout: default
---
<div class="flex flex-wrap md:flex-no-wrap">
  <div class="panel-left">
    <div class="panel">
    </div>
    <div class="panel-content">
      {% include panel-nav.html %}
      <a href="
      {% if page.lang == 'es' %}
      /
      {% elsif page.lang == 'en' %}
      /en/
      {% endif %}
      " class="panel-text">
        <span class="leading-tight text-display-light text-3xl w-2/3 pr-8">Ana Paula Tello</span>
        <span class="mt-6 text-display-bold text-5xl px-6 pt-1 mt-4 pb-0 border-2 rounded border-white">UI</span>
        <span class="text-display-light text-5xl w-5/6 pr-8">+</span>
        {% if page.lang == 'en' %}
        <span class="leading-tight text-display-bold text-5xl w-5/6 pr-8">Visual design</span>
        {% elsif page.lang == 'es' %}
        <span class="leading-tight text-display-bold text-5xl w-5/6 pr-8">Diseño visual</span>
        {% endif %}
      </a>
    </div>
  </div>
  <div class="w-full md:w-3/4 content">
    {{ content }}
  </div>
</div>
