---
layout: default
---

<div class="flex flex-wrap md:flex-no-wrap">
  <div class="w-1/4 panel-left">
    <div class="bg-blue panel w-1/4"></div>
    <a class="panel-text bg-blue md:bg-transparent" href="
    {% if page.lang == 'es' %}
    /
    {% elsif page.lang == 'en' %}
    /en/
    {% endif %}
    ">
      <span class="leading-tight text-display-light text-3xl w-2/3 pr-8">Ana Paula Tello</span>
      <span class="mt-6 text-display-bold text-5xl w-5/6 pr-8">UI</span>
      <span class="text-display-light text-5xl w-5/6 pr-8">+</span>
      {% if page.lang == 'en' %}
      <span class="leading-tight text-display-bold text-5xl w-5/6 pr-8">Visual design</span>
      {% elsif page.lang == 'es' %}
      <span class="leading-tight text-display-bold text-5xl w-5/6 pr-8">Diseño visual</span>
      {% endif %}
    </a>
  </div>
  <div class="w-3/4 mt-8 mr-8">
    {{ content }}
  </div>
</div>
