---
layout: default
---
  <div class="w-full panel-top
{% if page.cover_img %}
{% else %}
gradient
{% endif %}
  ">
  {% include panel-nav.html %}
    <div class="panel-content">
    <div class="panel-text">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-aux">
      {% for tag in page.tags %}
        {{ tag }}
        {% if forloop.last == true %}
        {% else %}
        <span>/</span>
        {% endif %}
      {% endfor %}
      </p>
      {% if page.hide_date == 'hide' %}
      {% else %}
      <p class="post-aux">
        {{ page.date | date: "%m/%Y"}}
      </p>
      {% endif %}
    </div>
    <div id="menu">
    {% include nav.html %}
  </div>
  </div>
  {% if page.cover_img %}
    <div class="panel"></div>
    <div class="panel-top-bg" style="background-image: url({{ page.cover_img | relative_url }}); background-position: center;"></div>
{% endif %}
  </div>
  <div class="w-full mt-8 mr-8">
    {{ content }}
  </div>
